<Configuration>
    <Appenders>
        <Console name="Console">
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout disableAnsi="false"  pattern="%highlight{[%-5level] [%t] %class{0} - %msg%n%throwable{10}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="com.grafysi" level="INFO">
        </logger>
    </Loggers>
</Configuration>